@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

@layer base {
    body {
        font-family: 'Lato', sans-serif;
        @apply bg-[#191c1c];
        @apply text-[#E7F6F2];
    }

    /* autofill styling */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px #212525 inset;
      -webkit-text-fill-color: #fff;
  }

    .content {
        @apply w-full;
        @apply px-8;
        @apply sm:px-0;
        @apply max-w-xl;
        @apply sm:max-w-xl;
        @apply md:max-w-2xl;
        @apply lg:max-w-4xl;
        @apply mx-auto;
    }

    .content-blog {
      @apply w-full;
      @apply px-8;
      @apply sm:px-0;
      @apply max-w-xl;
      @apply sm:max-w-lg;
      @apply md:max-w-xl;
      @apply lg:max-w-3xl;
      @apply mx-auto;
  }
}

@layer components {
    .nav-animate-active {
        color: lighten(#000,20%);
        border-radius: 50% 10% / 12% 40%;
        background-image: linear-gradient(to right,transparent 50%,rgba(57, 91, 100) 50%);
        background-position: 0;
        background-size:200%;     
        animation: highlighter 0.5s cubic-bezier(0.6, 0.05, 0.35, 1) 0.5s forwards;
        @apply px-3;
        @apply py-2;
      }   

    .nav-animate {
      @apply px-3;
      @apply py-2;
    }

    .nav-animate:hover {
        color: lighten(#000,20%);
        border-radius: 15% 5% / 12% 40%;
        background-image: linear-gradient(to right,transparent 50%,rgba(57, 91, 100) 50%);
        background-position: 0;
        background-size:200%;     
        animation: highlighter 0.4s cubic-bezier(0.6, 0.05, 0.35, 1) 0.2s forwards;
      }   
      @keyframes highlighter {
         to {
              background-position: -100%;
          }
      }

      .blur-overlay {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1rem);
        }

      .highlight {
        color: lighten(#000,20%);
        border-radius: 50% 10% / 12% 40%;
        background-image: linear-gradient(to right,transparent 50%,rgba(57, 91, 100) 50%);
        background-position: 0;
        background-size:200%;     
        animation: highlighter 0s cubic-bezier(0.6, 0.05, 0.35, 1) 0s forwards;
      } 

      .card {
        transition: all ease 200ms;
      }

      .card:hover {
        transform: scale(1.02);
        @apply shadow-xl;
      }

      .tag {
        @apply uppercase;
        @apply font-bold;
        @apply text-[0.6rem];
        @apply tracking-wide;
        @apply px-2;
        @apply py-1;
        @apply bg-[#A5C9CA];
        @apply rounded-md;
        @apply text-[#191c1c];
      }

      .rubik {
        font-family: 'Rubik', sans-serif;
      }
  
}